*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    background-color: rgb(227, 141, 37);
}
.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: black;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px ;
}
span{
    display:block;
    text-align: center;
    font-size: 100px;
}
p{
    color: whitesmoke;
    text-align: center;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
}
button{
    display: block;
    background-color: rgb(225, 160, 75);
    border: none;
    padding: 5px;
    font-size: 18px;
    color: black;
    font-weight: 600px;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}